* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
}

h1 {
    color: rgb(255, 145, 0);
}

.information-area {
    color: aqua;
}

canvas {
    background-image: url("img/bg.png");
}